<!--Seccion Sliders-->
<section class="main-slider">
    <div class="rev_slider_wrapper fullwidthbanner-container"  id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>
                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/slides/slider1.jpg" data-title="Slide Title" data-transition="parallaxvertical">

                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/slides/slider1.jpg"> 
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-150','-130','-120','-125']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                    {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="icon-holder">
                                <span class="icon-power"></span>
                            </div>    
                        </div>
                    </div> 
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-55','-60','-55','-65']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
                    {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="text">Reducir Planilla eléctrica</div>    
                        </div>
                    </div>
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['55','30','25','5']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="big-title">
                                Elimine el consumo eléctrico generando su propia energía eléctrica 
                            </div>    
                        </div>
                    </div>
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['200','155','140','110']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="btn-box">
                                <a class="btn-one" href="#"><b>Read More</b><span class="icon-null"></span></a>
                            </div>  
                        </div>
                    </div>   
                </li>
                
                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/slides/slider2.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                
                    <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/slides/slider2.jpg">
                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-150','-130','-120','-125']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                    {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="icon-holder">
                                <span class="icon-solar"></span>
                            </div>    
                        </div>
                    </div> 
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-55','-60','-55','-65']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
                    {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="text">Luminarias Solares</div>    
                        </div>
                    </div>
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['55','30','25','5']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="big-title">
                                Alumbrado público y privado sin generar consumo eléctrico 
                            </div>    
                        </div>
                    </div>
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['200','155','140','110']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="btn-box">
                                <a class="btn-one" href="#"><b>Read More</b><span class="icon-null"></span></a>
                            </div>  
                        </div>
                    </div> 
                </li>
                
                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="images/slides/slider3.jpg" data-title="Slide Title" data-transition="parallaxvertical">
                <img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="images/slides/slider3.jpg"> 

                    
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-150','-130','-120','-125']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},
                    {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="icon-holder">
                                <span class="icon-power-1"></span>
                            </div>    
                        </div>
                    </div> 
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['-55','-60','-55','-65']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
                    {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="text">Vigilancia con Energía Solar</div>    
                        </div>
                    </div>
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['55','30','25','5']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="big-title">
                                Asegure los bienes inmuebles con vigilancia solar vía Wi-Fi 
                            </div>    
                        </div>
                    </div>
                    <div class="tp-caption" 
                    data-paddingbottom="[0,0,0,0]"
                    data-paddingleft="[0,0,0,0]"
                    data-paddingright="[0,0,0,0]"
                    data-paddingtop="[0,0,0,0]"
                    data-responsive_offset="on"
                    data-type="text"
                    data-height="none"
                    data-width="['1000','900','700','450']"
                    data-whitespace="normal"
                    data-hoffset="['15','15','15','15']"
                    data-voffset="['200','155','140','110']"
                    data-x="['center','center','center','center']"
                    data-y="['middle','middle','middle','middle']"
                    data-textalign="['top','top','top','top']"
                    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                    style="z-index: 7; white-space: nowrap;">
                        <div class="slide-content middle-slide text-center">
                            <div class="btn-box">
                                <a class="btn-one" href="#"><b>Read More</b><span class="icon-null"></span></a>
                            </div>  
                        </div>
                    </div>     
                    
                </li>
                
            </ul>
        </div>
    </div>
</section>
<!--End Seccion Sliders-->

<!--Start Acerca de-->
<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-image-box">
                    <div class="icon-box">
                        <span class="icon-solar-energy"></span>
                    </div>
                    <div class="image-box-one">
                        <img src="images/resources/about1.jpg" alt="Acerca de EcuSolar">
                    </div>
                    <div class="image-box-two">
                        <img src="images/resources/about2.jpg" alt="Acerca de EcuSolar">
                    </div>
                    <div class="image-box-three">
                        <img src="images/resources/about4.jpg" alt="Acerca de EcuSolar">
                    </div>
                    <div class="image-box-four">
                        <img src="images/resources/about3.jpg" alt="Acerca de EcuSolar">
                    </div>
                </div>   
            </div>
            <div class="col-xl-6">
                <div class="about-text">
                    <div class="sec-title">
                        <p>Acerca de EcuSolar</p>
                        <div class="title">Identidad Empresarial</div>
                        <div class="border-box"></div>
                    </div>
                    <div class="inner-content">
                        <h3>Recicla Energía Solar</h3>
                        <div class="text">
                            <p>Ecuador es uno de los países clave dentro de la región Latinoamericana, ya que posee una posición privilegiada con una irradiación homogénea durante todo el año – con una variación de entre 3,35 KWh/ metro cuadrado en mayo y los 4,33 KWh/ metro cuadrado en septiembre- lo que hace más eficiente y menos costoso el uso de la energía fotovoltaica para impulsar su industria a un coste menor que con la utilización de otras fuentes, reduciendo su dependencia energética de hidrocarburos.</p>
                            <p>Energía solar integral para residencias o empresas, Iluminación LED a base de energía solar, Vigilancia multimedia a base de energía solar.</p>
                        </div>
                        <ul class="solar-services">
                            <li class="single-solar-box">
                                <div class="icon">
                                    <span class="icon-farm"></span>    
                                </div> 
                                <div class="title">
                                    <h3>Energía Solar para<br>sectores rurales</h3>
                                </div>   
                            </li>
                            <li class="single-solar-box">
                                <div class="icon">
                                    <span class="icon-farming-and-gardening"></span>    
                                </div> 
                                <div class="title">
                                    <h3>Energía Solar<br>empresarial</h3>
                                </div>   
                            </li>
                        </ul>
                        <div class="button">
                            <a class="btn-two" href="#">Ver más de EcuSolar<span class="icon-null"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        
    </div>    
</section>
<!--End Acerca de-->

<!--Start slogan area-->
<section class="slogan-area martop-minus">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content fix">
                    <div class="title float-left">
                        <h2>¿Deseas eliminar parcial o <br> totalmente el consumo eléctrico en las planillas?</h2>
                    </div>
                    <div class="button float-right">
                        <a class="btn-three" href="#">Contáctenos<span class="icon-null"></span></a>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>           
<!--End slogan area-->     

<!--Start services style1 area-->
<section class="services-style1-area">
    <div class="container">
        <div class="sec-title with-text text-center">
            <p>Nuestros Servicios</p>
            <div class="title">Recicla Energía Solar con los expertos </div>
            <div class="border-box center"></div>
            <span>Nuestro servicio especializado tiene como objetivo cumplir los tres pilares de la sostenibilidad: El Social, 
                    Económico y Ambiental</span>
        </div>
        <div class="row">
            <!--Start single solution style1--> 
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"> 
                <div class="single-service-style1">
                    <div class="img-holder">
                        <img src="images/services/services1.jpg" alt="Servicios EcuSolar">
                        <div class="overlay-style-two"></div>
                        <div class="overlay-content-box">
                            <div class="icon">
                                <span class="icon-drill"></span>    
                            </div>
                            <div class="title">
                                <h3>Estudio técnico</h3>
                            </div>
                        </div>   
                    </div>
                    <div class="text-holder">
                        <p>Visita al lugar mismo donde se requiere electricidad, para constatar los detalles 
                            imperativos para el diseño y la planificación de la implementación del sistema solar fotovoltaico</p>
                        <div class="button">
                            <a class="btn-two" href="#">Ver más<span class="icon-null"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single solution style1-->
            <!--Start single solution style1--> 
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"> 
                <div class="single-service-style1">
                    <div class="img-holder">
                        <img src="images/services/services2.jpg" alt="Servicios EcuSolar">
                        <div class="overlay-style-two"></div>
                        <div class="overlay-content-box">
                            <div class="icon">
                                <span class="icon-gear"></span>    
                            </div>
                            <div class="title">
                                <h3>Sistema solar fotovoltaico</h3>
                            </div>
                        </div>   
                    </div>
                    <div class="text-holder">
                        <p>Luego del diseño y planificación de proyecto, se procede a la correcta instalación del sistema solar 
                            fotovoltaico siguiendo lo diseñado y planificado en el proyecto</p>
                        <div class="button">
                            <a class="btn-two" href="#">Ver más<span class="icon-null"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single solution style1-->
            <!--Start single solution style1--> 
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12"> 
                <div class="single-service-style1">
                    <div class="img-holder">
                        <img src="images/services/services3.jpg" alt="Servicios EcuSolar">
                        <div class="overlay-style-two"></div>
                        <div class="overlay-content-box">
                            <div class="icon">
                                <span class="icon-cctv"></span>    
                            </div>
                            <div class="title">
                                <h3>Asesoría Post Instalación</h3>
                            </div>
                        </div>   
                    </div>
                    <div class="text-holder">
                        <p>Esta consultoría consiste en guiar al dueño del sistema solar fotovoltaico ya instalado, 
                            sobre el correcto funcionamiento y utilización del mismo. Al mismo tiempo, 
                            se planifica visitas de revisión y mantenimiento del sistema</p>
                        <div class="button">
                            <a class="btn-two" href="#">Ver más<span class="icon-null"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single solution style1-->
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="emergency-call wow slideInUp" data-wow-delay="200ms" data-wow-duration="1500ms"> 
                    <h6>Alguna emergencia? Llame a nuestro servicio de soporte 24/7 
                        <span><a href="tel:+593984295758"> +593-9 84295758 </a></span>
                    </h6>
                </div>
            </div>
        </div> 
    </div>
</section>
<!--End services style1 area-->

<!--Start Porque elegirnos-->
<section class="why-choose-area secpd1">
    <div class="container">
        <div class="sec-title">
            <p>Beneficios de usar Energía Solar</p>
            <div class="title">Por qué la Energía Solar es mejor?</div>
            <div class="border-box"></div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="choose-carousel owl-carousel owl-theme">
                    <!--Start Single Choose Box-->
                    <div class="single-choose-box text-center">
                        <h3><a href="#">Generar<br>su propia electricidad</a></h3>
                        <span class="icon-null-1"></span>
                        <div class="button">
                            <a href="#"><span class="icon-null"></span></a>    
                        </div> 
                        <div class="overlay-content">
                            <h3><a href="#">Generar<br>su propia electricidad</a></h3>
                            <p>Con esto se tendrá total independencia energética y es inversión a corto plazo.</p>
                            <div class="button">
                                <a href="#"><span class="icon-null"></span></a>    
                            </div>     
                        </div>       
                    </div>
                    <!--End Single Choose Box-->
                    <!--Start Single Choose Box-->
                    <div class="single-choose-box text-center">
                        <h3><a href="#">Mejorar<br> el medio ambiente</a></h3>
                        <span class="icon-ecology"></span>
                        <div class="button">
                            <a href="#"><span class="icon-null"></span></a>    
                        </div> 
                        <div class="overlay-content">
                            <h3><a href="#">Mejorar<br>el medio ambiente</a></h3>
                            <p>La energía solar es muy limpia y super amigable con el medio ambiente.</p>
                            <div class="button">
                                <a href="#"><span class="icon-null"></span></a>    
                            </div>     
                        </div>       
                    </div>
                    <!--End Single Choose Box-->
                    <!--Start Single Choose Box-->
                    <div class="single-choose-box text-center">
                        <h3><a href="#">Menor<br>Costo de Energía</a></h3>
                        <span class="icon-solar-panel"></span>
                        <div class="button">
                            <a href="#"><span class="icon-null"></span></a>    
                        </div> 
                        <div class="overlay-content">
                            <h3><a href="#">Menor<br>Costo de Energía</a></h3>
                            <p>Tendrá un ahorro de 100% en consumo de energía eléctrica</p>
                            <div class="button">
                                <a href="#"><span class="icon-null"></span></a>    
                            </div>     
                        </div>       
                    </div>
                    <!--End Single Choose Box-->
                    <!--Start Single Choose Box-->
                    <div class="single-choose-box text-center">
                        <h3><a href="#">Reducir<br> la cuenta de la planilla de luz</a></h3>
                        <span class="icon-money"></span>
                        <div class="button">
                            <a href="#"><span class="icon-null"></span></a>    
                        </div> 
                        <div class="overlay-content">
                            <h3><a href="#">Reducir<br>la cuenta de la planilla de luz</a></h3>
                            <p>Incentivos del Gobierno a través de la regulación de ARCONEL No. 003-18 y la obtención 
                                del certificado PUNTO VERDE otorgada por el Ministerio del Ambiente</p>
                            <div class="button">
                                <a href="#"><span class="icon-null"></span></a>    
                            </div>     
                        </div>       
                    </div>
                    <!--End Single Choose Box-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Why Porque elegirnos-->

<!--Start Proyectos -->
<section class="fact-projects-area">
    <div class="pattern paroller">
        <img src="images/pattern/fact-project-bg.jpg" alt="Pattern">
    </div>
    <div class="container">
        <div class="row">
            <!--Start Single fact counter-->
            <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                <div class="project-content">
                    <div class="sec-title">
                        <p>Nuestros Logros</p>
                        <div class="title">Experiencia & Proyectos</div>
                        <div class="border-box"></div>
                    </div>
                    <div class="inner-content">
                        <p>ECUSOLAR ha generado más 1433.15 kWh desde el año 2018 hasta el momento, 
                            iluminación a base de la energía solar desde el año 2016
                            en industrias, centros comerciales, hoteles, parqueaderos y vallas publicitarias.</p>
                        <div class="button">
                            <a class="btn-two" href="#">Ver todos los proyectos<span class="icon-null"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Single fact counter-->
            <!--Start Single fact counter-->
            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                <ul class="fact-counter">
                    <li class="single-fact-counter wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
                        <div class="count-box">
                            <h1>
                                <i class="flaticon-add"></i>
                                <span class="timer" data-from="1" data-to="30" data-speed="3000" data-refresh-interval="50">30</span>
                            </h1>
                            <div class="title">
                                <h3>35 Proyectos concluidos<br> Exitosamente</h3>
                            </div>
                        </div>
                    </li>
                    <li class="single-fact-counter wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="count-box">
                            <h1>
                                <i class="flaticon-percentage"></i>
                                <span class="timer" data-from="1" data-to="97" data-speed="5000" data-refresh-interval="50">97</span>
                            </h1>
                            <div class="title">
                                <h3>Feedback Positivo<br> Del 97% de nuestros clientes</h3>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--End Single fact counter-->
        </div>
    </div>
    <div class="container latest-project">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="project-carousel owl-carousel owl-theme"> 
                    <!--Start single project style1-->
                    <div class="single-project-style1">
                        <div class="img-holder">
                            <img src="images/projects/proy1.jpg" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="inner-content">
                                    <div class="link-box">
                                        <a href="#"><span class="icon-plus"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="categories">
                                <h5>Empresarial</h5>
                            </div>
                            <div class="title-box">
                                <h3>Luminarias solares instaladas en Urdesa Central, Guayaquil</h3>
                                <span>Sistema de 9.87 kW</span>
                            </div>
                        </div>    
                    </div>
                    <!--End single project style1-->
                    <!--Start single project style1-->
                    <div class="single-project-style1">
                        <div class="img-holder">
                            <img src="images/projects/proy2.jpg" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="inner-content">
                                    <div class="link-box">
                                        <a href="#"><span class="icon-plus"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="categories">
                                <h5>Residencial</h5>
                            </div>
                            <div class="title-box">
                                <h3>Sistema solar fotovoltaico incluida a la red eléctrica pública</h3>
                                <span>9.87 kW System</span>
                            </div>
                        </div>    
                    </div>
                    <div class="single-project-style1">
                        <div class="img-holder">
                            <img src="images/projects/proy3.jpg" alt="Awesome Image">
                            <div class="overlay-content">
                                <div class="inner-content">
                                    <div class="link-box">
                                        <a href="#"><span class="icon-plus"></span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="categories">
                                <h5>Público y Privado</h5>
                            </div>
                            <div class="title-box">
                                <h3>Luminaria solar para alumbrado publico y privado</h3>
                                <span>9.87 kW System</span>
                            </div>
                        </div>    
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
<!--End Proyectos-->

<!--Start Consultation Area-->
<section class="consultation-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="consultation-box">
                    <div class="title-box">
                        <h2>Asesoría gratuita con expertos en energía solar, escríbanos su inquietud o requerimiento:</h2>
                        <span>¿Deseas eliminar parcial o totalmente el consumo eléctrico en las planillas?
                                Uno de nuestros técnicos y asesores se comunicará con ud lo más pronto posible.</span>
                    </div>
                    <div class="consultation">
                        <form class="consultation-form">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="single-box">
                                        <input type="text" name="form_name" value="" placeholder="Su nombre" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="single-box">
                                        <input type="email" name="form_email" value="" placeholder="Email" required="">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="single-box">
                                        <select class="selectpicker" data-width="100%">
                                            <option selected="selected">Comentarnos Acerca de</option>
                                            <option>Instalación</option>
                                            <option>Mantenimiento</option>
                                            <option>Monitoreo</option>
                                            <option>Consultoría</option>
                                            <option>Solución en Techo/Terraza</option>
                                            <option>Reparación/Garantía</option>
                                        </select>
                                    </div>
                                </div>
                            </div>                   
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="single-box"> 
                                        <button class="btn-three" type="submit">Enviar<span class="icon-null"></span></button>  
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
<!--End Consultation Area-->
   

<!--Start Download Material area-->
<!-- <section class="download-material-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="download-material">
                    <div class="title-box float-left">
                        <h3>Power Your Home with Innovative Energy Technologies.</h3>
                    </div>
                    <div class="button float-right">
                        <a href="#">
                            <div class="icon">
                                <span class="icon-download"></span>    
                            </div>
                            <div class="title">
                                <h4>Download Material</h4>    
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--End Download Material area-->