<script src="js/jquery.js"></script>
<script src="js/wow.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/appear.js"></script>
<script src="js/owl.js"></script>
<script src="js/validation.js"></script>
<script src="js/jquery.mixitup.min.js"></script>
<script src="js/isotope.js"></script>
<script src="js/jquery.paroller.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.enllax.min.js"></script>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyB2uu6KHbLc_y7fyAVA4dpqSVM4w9ZnnUw"></script>
<script src="js/gmaps.js"></script>
<script src="js/map-helper.js"></script>

<script src="assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
<script src="assets/timepicker/timePicker.js"></script>
<script src="js/bootstrap-select.min.js"></script>                          
<script src="assets/html5lightbox/html5lightbox.js"></script>

<!--Revolution Slider-->
<script src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="js/main-slider-script.js"></script>

<!-- thm custom script -->
<script src="js/custom.js"></script>



</body>
</html>